<nav class="catalog-menu">
  <div class="catalog-menu__inner">
    <ul class="catalog-menu__list">
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Новинки</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Верхняя одежда</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Трикотаж</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Нижнее белье</a></li>
      <li class="catalog-menu__item" aria-haspopup="true">
        <a class="catalog-menu__link" href="#">Аксессуары</a>
        <div class="dropdown-menu" aria-label="submenu">
          <ul class="dropdown-menu__inner">
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">Перчатки</span>
              </a>
            </li>
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">варежки</span>
              </a>
            </li>
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">Сумки</span>
              </a>
            </li>
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">Ремни</span>
              </a>
            </li>
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">кошельки</span>
              </a>
            </li>
            <li class="dropdown-menu__item">
              <a class="dropdown-menu__link" href="#">
                <img src="images/main_page/img_1.jpg" alt="">
                <span class="dropdown-menu__link-title">бижутерия</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Бижутерия</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Блузки</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Сумки</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Платья</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Распродажа %</a></li>
    </ul>
  </div>
</nav>