<header class="header">
  <div class="container header-wrapper">
    <div class="header-element"><a href="http://elny.azbuka.pro/" class="logo-wrapper"><img src="images/f932979b72a4157fe6e8f571f3e06045_big.png" alt="Elny" class="logo"></a></div>
    <div class="header-element">
      <nav class="menu-top">
        <ul class="menu-top-list">
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/catalog" class="active">Каталог</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/">АКЦИИ</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/about-page">О нас</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/delivery-page">ДОСТАВКА И ОПЛАТА</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/vacancy">КОНТАКТЫ</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/markets">Магазины</a></li>
          <li class="menu-top-list-item"><a href="http://elny.azbuka.pro/optom-page">ОПТОВИКАМ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-element search-container-wrapper">
      <div class="search-container ">
        <div class="search-container-image">
          <img src="images/search.png" alt="">
        </div>
        <input type="text" class="search-input">
      </div>
      <button class="search">
        <span class="icon-search">
          <svg>
            <use xlink:href="#icon-search"></use>
          </svg>
        </span>
      </button>
      <a href="tel:8 (812) 318 45 09" class="phone">8 (812) 318 45 09</a>
    </div>
    <div class="header-element header-right">
      <a href="http://elny.azbuka.pro/login" title="Вход" class="icon icon-header">
        <svg>
          <use xlink:href="#icon-user"></use>
        </svg>
      </a>
      <div class="cart-mini">
        <div>
          <a title="Корзина" href="http://elny.azbuka.pro/cart" class="icon icon-header icon-header-nom">
            <svg>
              <use xlink:href="#icon-cart"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>