<nav class="menu">
  <div class="container">
    <ul class="menu-bottom">
      <li class="menu-bottom-item"><a href="#">Новинки</a></li>
      <li class="menu-bottom-item"><a href="#">Верхняя одежда</a></li>
      <li class="menu-bottom-item"><a href="#">Трикотаж</a></li>
      <li class="menu-bottom-item"><a href="#">Нижнее белье</a></li>
      <li class="menu-bottom-item"><a href="#">Аксессуары</a></li>
      <li class="menu-bottom-item"><a href="#">Бижутерия</a></li>
      <li class="menu-bottom-item"><a href="#">Блузки</a></li>
      <li class="menu-bottom-item"><a href="#">Сумки</a></li>
      <li class="menu-bottom-item"><a href="#">Платья</a></li>
      <li class="menu-bottom-item"><a href="#">Распродажа %</a></li>
    </ul>
  </div>
</nav>