.front {
  .account-grid {
    overflow: hidden;

    &__row {
      display: flex;
      margin-left: -24px;
      margin-right: -24px;
      margin-bottom: 65px;
    }

    &__item {
      padding-left: 24px;
      padding-right: 24px;

      &--w_38 {
        width: 38%;
      }

      &--w_33 {
        width: 33%;
      }

      &--w_29 {
        width: 29%;
      }

      &--w_24 {
        width: 24%;
      }
    }

    &__button-block {
      text-align: center;
    }
  }
}
