.front {
  h1 {
    line-height: 28px;
  }

  .container {
    &--1440 {
      max-width: 1440px;
      padding-left: 34px;
      padding-right: 34px;
    }
  }

  .menu-bottom {
    justify-content: center;
    position: relative;
    z-index: 3;


  }

  .menu-bottom-item {
    & > a {
      display: inline-flex;
      line-height: 14px;
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;
      transition: all 0.3s;

      &::after {
        background-color: $purple;
        border-radius: 2px;
        bottom: -10px;
        content: '';
        height: 2px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.3s;
        top: auto;
        width: 16px;
      }

      &:hover,
      &:focus {
        color: $purple;

        &::after {
          bottom: 10px;
          opacity: 1;
          transform: translateX(-50%);
        }
      }
    }

    &:hover {
      & > .dropdown-menu {
        display: block;
      }
    }
  }
}
