.front {
  .container {
    max-width: 1320px;

    &--1440 {
      max-width: 1440px;

      @media(min-width: 1200px) {
        padding-left: 34px;
        padding-right: 34px;
      }
    }
  }
}

svg {
  pointer-events: none;
}
