.catalog-menu {
  background: $menu_bg;

  &__inner {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__list {
    align-items: center;
    display: flex;
    min-height: 54px;
    position: relative;
    z-index: 3;

    @media(max-width: 991px) {
      overflow-x: auto;
    }

    @media(min-width: 992px) {
      justify-content: center;
    }
  }

  &__item {
    margin-right: 24px;

    @media(min-width: 992px) and (max-width: 1199px) {
      margin-right: 20px;
    }

    @media(min-width: 1200px) {
      margin-right: 33px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      & > .dropdown-menu {
        @media(min-width: 992px) {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:focus-within {
      & > .dropdown-menu {
        @media(min-width: 992px) {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__link {
    color: $purple;
    display: inline-flex;
    line-height: 14px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    text-align: center;

    @media(max-width: 991px) {
      white-space: nowrap;
    }

    &::after {
      background-color: $purple;
      border-radius: 2px;
      bottom: -10px;
      content: '';
      height: 2px;
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.3s;
      top: auto;
      width: 16px;
    }

    &:hover,
    &:focus {
      color: $purple;

      &::after {
        bottom: 12px;
        opacity: 1;
        transform: translateX(-50%);
      }
    }

    &:focus-within {
      & + .dropdown-menu {
        @media(min-width: 992px) {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.dropdown-menu {
  background-color: $menu_bg;
  display: none;
  left: 50%;
  max-width: 1280px;
  opacity: 0;
  padding:  34px 34px 0;
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -17px;
    margin-right: -17px;
  }

  &__item {
    margin-bottom: 34px;
    padding-left: 17px;
    padding-right: 17px;
    width: 20%;
  }

  &__link {
    box-shadow: none;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 6px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);

      &::after {
        background-color: rgba(0,0,0,0.7);
      }
    }

    &::after {
      background-color: rgba(0,0,0,0.3);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background-color 0.3s;
      width: 100%;
      z-index: 1;
    }

    img {
      transition: transform 0.3s;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__link-title {
    left: 0;
    padding-left: 17px;
    padding-right: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
  }
}
