.about-delivery {
  margin-bottom: 35px;

  @media(min-width: 992px) {
    display: flex;
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 75px;
  }

  &__col {
    @media(min-width: 600px) and (max-width: 991px) {
      margin-bottom: 55px;
    }

    @media(min-width: 992px) {
      padding-left: 17px;
      padding-right: 17px;
      width: 50%;
    }
  }

  &__row {
    margin-bottom: 17px;

    @media(min-width: 600px) {
      display: flex;
      margin-left: -17px;
      margin-right: -17px;
      margin-bottom: 55px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    max-width: 280px;
    margin-bottom: 17px;

    @media(min-width: 600px) {
      margin-bottom: 0;
      padding-left: 17px;
      padding-right: 17px;
    }
  }
}

.delivery-item {
  font-size: 14px;
  line-height: 22px;

  &__title-block {
    border: 1px solid rgba(#7F859C, 0.48);
    min-height: 90px;
    margin-bottom: 15px;
    max-width: 233px;
    padding: 12px 15px;

    &--type_1 {
      display: flex;
      position: relative;

      img {
        bottom: 10px;
        left: auto;
        position: absolute;
        right: 15px;
        top: auto;
      }
    }

    &--type_2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 36px;
    }

    &--type_3 {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0
    }
  }

  a {
    color: #000;
    text-decoration: underline;
  }
}

.about-delivery-text {
  line-height: 22px;
  max-width: 855px;
}
