.header {
  background-color: $purple;
  min-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;

  @media(min-width: 992px) {
    min-height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__inner {
    align-items: center;
    display: flex;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__logo {
    color: #fff;
    min-height: 22px;
    margin-right: 55px;
    min-width: 89px;
    width: 89px;

    @media(min-width: 400px) {
      margin-right: 25px;
    }

    @media(min-width: 992px) {
      margin-right: 35px;
    }

    @media(min-width: 1200px) {
      margin-right: auto;
    }
  }

  &__menu {
    @media(min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media(min-width: 1350px) {
      margin-right: 55px;
    }
  }

  &__phone {
    margin-left: 20px;
    margin-right: 25px;

    @media(max-width: 399px) {
      display: none;
    }
  }

  &__phone-link {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      .header__phone-link-text {
        border-bottom: 1px dotted #fff;
      }
    }
  }

  &__phone-link-text {
    border: 1px dotted transparent;
    transition: border-color 0.3s;
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-left: 15px;
    min-width: 30px;
    text-decoration: none;
    width: 30px;

    @media(max-width: 991px) {
      display: none;
    }

    &:last-child {
      margin-left: 40px;
    }

    &:hover,
    &:focus {
      .header__link-icon {
        stroke: lighten(#CFD3E5, 10%);
      }
    }
  }

  &__link-icon {
    fill: none;
    stroke-width: 2;
    stroke: #CFD3E5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.3s;

    &--user {
      height: 18px;
      width: 20px;
    }

    &--favorite {
      height: 22px;
      width: 20px;
    }

    &--cart {
      height: 20px;
      width: 22px;
    }

    &--logout {
      height: 19px;
      width: 20px;
    }

    &--login {
      height: 17px;
      width: 20px;
    }
  }

  &__cart {
    position: relative;
  }

  &__cart-qnt {
    align-items: center;
    background-color: #4D5367;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    height: 20px;
    left: auto;
    position: absolute;
    right: -15px;
    top: -8px;
    width: 20px;
  }
}

.menu-opener {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  left: auto;
  padding: 0 0 5px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 30px;

  @media(min-width: 992px) {
    display: none;
  }

  &__burger {
    background-color: #CFD3E5;
    border-radius: 2px;
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30px;

    &::after,
    &::before {
      background-color: #CFD3E5;
      border-radius: 2px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 30px;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }

  &.is-active {
    z-index: 101;

    .menu-opener__burger {
      transform: rotate(45deg);

      &::after {
        top: 0;
        transform: rotate(-90deg);
      }

      &::before {
        display: none;
      }
    }
  }
}

.menu-top {
  @media(max-width: 991px) {
    background-color: $purple;
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &.is-open {
    display: block;
  }

  &__list {
    font-size: 14px;
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @media(min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
    }

    @media(min-width: 1200px) and (max-width: 1350px) {
      font-size: 10px;
    }
  }

  &__item {
    @media(max-width: 991px) {
      margin-bottom: 10px;
    }

    @media(min-width: 992px) {
      margin-right: 14px;
    }

    @media(min-width: 1350px) {
      margin-left: 23px;
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &--no_desktop {
      @media(min-width: 992px) {
        display: none;
      }
    }
  }

  &__link {
    color: rgba(#fff, 0.6);
    display: inline-block;
    letter-spacing: 1px;
    line-height: 15px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color 0.3s;
    text-decoration: none;
    vertical-align: top;

    &::after {
      background-color: #fff;
      border-radius: 2px;
      bottom: -10px;
      content: '';
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.3s;
      top: auto;
      width: 16px;

      @media(min-width: 1200px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:hover,
    &:focus,
    &.is-active {
      color: #fff;

      &::after {
        bottom: 3px;
        opacity: 1;
      }
    }
  }
}
