.front {
  &.overflow {
    overflow: hidden;
  }

  .popups-wrapper {
    background-color: rgba(0,0,0,0.3);
    display: none;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .n-popup{
    background-color: #F2F2F5;
    border: 1px solid $purple;
    border-radius: 5px;
    box-shadow: 0 40px 80px rgba(0,0,0,0.1);
    display: none;
    left: 50%;
    max-width: 364px;
    padding: 36px 36px 30px;
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    width: 100%;

    &--middle {
      max-width: 520px;
    }

    &--big {
      max-width: 1020px;
    }

    &--biggest {
      max-width: 1210px;
    }

    &__close {
      background: none;
      border: none;
      cursor: pointer;
      height: 40px;
      left: auto;
      position: absolute;
      right: 5px;
      top: 2px;
      padding: 0;
      width: 40px;
    }

    &__close-icon {
      height: 15px;
      width: 14px;
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 30px;
      text-align: center;
    }

    .input-block__input,
    .input-block__textarea {
      background-color: #F2F2F5;
    }
  }
}
