.sizes-list {
  &__title {
    color: $deep_black;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    margin-left: -7px;
    flex-wrap: wrap;
  }
}

.size-checkbox {
  margin-left: 3px;
  margin-right: 3px;

  &:hover,
  &:focus {
    .size-checkbox__text {
      background-color: lighten(#AEB2C0, 10%);
      color: #ECDEDE;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;

    &:checked + .size-checkbox__text {
      background-color: #AEB2C0;
      color: #ECDEDE;
    }
  }

  &__text {
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color: $purple;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    justify-content: center;
    transition: all 0.3s;
    width: 25px;
  }
}
