.social-block {
  &__title {
    color: $deep_black;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;

    @media(min-width: 520px) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }
}

.social-link {
  height: 49px;
  margin-left: 8px;
  margin-right: 8px;
  transition: opacity 0.3s;
  width: 49px;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
