.tabs-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin-bottom: 45px;
  padding: 0;

  @media(min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid $purple;
    color: $purple;
    display: flex;
    justify-content: center;
    min-width: 140px;
    min-height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    transition: background-color 0.3s;

    @media(min-width: 768px) {
      min-width: 264px;
      min-height: 52px;
    }

    &:hover,
    &:focus {
      background-color: darken(#f2f2f2, 10%);
    }

    &.is-active {
      background-color: $purple;
      color: #ECDEDE;

      &:hover,
      &:focus {
        background-color: $purple;
      }
    }
  }
}
