.thanks {
  color: $purple;
  font-size: 18px;
  line-height: 22px;
  max-width: 614px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;

  @media(min-width: 768px) {
    font-size: 22px;
    line-height: 24px;
    padding-top: 135px;
    padding-bottom: 135px;
  }

  &__image-block {
    margin-bottom: 15px;
    text-align: center;
  }

  h1 {
    color: $purple;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $purple;
    text-decoration: underline;
  }

  .bolder {
    font-weight: 500;
  }
}
