.vacancy {
  align-items: center;
  display: flex;
  margin-bottom: 65px;

  &:last-child {
    margin-bottom: 0;
  }

  &__image {
    border: 2px dashed $purple;
    max-width: 208px;
    min-width: 208px;
    margin-right: 44px;

    img {
      transform: translate(24px, 24px);
    }

    &--reverse {
      margin-right: 20px;
      margin-left: 20px;

      img {
        transform: translate(-24px, 24px);
      }
    }
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
    max-width: 720px;
    padding-top: 40px;

    h2 {
      font-size: 22px;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__position {
    margin-right: 35px;
  }

  &__button {
    background-color: $purple;
    border: none;
    border-radius: 6px;
    color: #F5F5F7;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    line-height: 18px;
    letter-spacing: 2px;
    padding: 12px 16px 8px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
