$main_bg: #fff;
$purple: #7F859C;
$dark_purple: #4D5367;
$text_purple: #666B80;
$menu_bg: #ECDEDE;
$gray: #7F859C;
$black: #111;
$deep_black: #000;
$white: #fff;
$breadcrumb: #C6C9D1;
$accordeon_bg: #F4F4F6;
$category_gray: #999999;
$separator: #F0F1F5;
$sale_price: #F23333;
$product_border: #F0F0F0;
$sizes_border: #D9DAE1;
$sizes_hover: #B2B6C4;
$input_purple: #C6C7D2;
$sizes_background: #FAFAFA;
$sizes_disabled: #C7C9D1;
$link_fg: #ABAFBA;
$card_sizes_hover: #AEB2C0;
$cart_stage_border: #BDBDBD;
$cart_border: #e3e6ed;
$purple_border: #9fa3b5;
$autocomplete: #e9ebf3;
$total_bg: #FBFBFB;
